*{
  margin: 0;
  padding:0;
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

}
main, footer{
  padding-left: .5%;
  
}

/*Header*/

.top-bar{
  width: 100%;
  height: 186px;
  background-color:rgba(78,160,255,255);
  background-image: url("../img/pattern.png");
  overflow: hidden;
  margin-bottom: 10px;
}
.top-bar img{
  height: 75px;
  padding-top: 90px;
  padding-left: 10px;
  
}

/*main*/

.grey{
  color: rgba(0, 0, 0, 0.5);

}
.grey.date {
  font-size: 70%;
  margin-bottom: 30px
}
figcaption {
  font-size: 70%;
  

}
p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.highlight{
  background-color: rgb(255, 255, 0);
}
ul {
padding-left: 1%;

}
thead{
  background-color: #20A9E5;
  
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
th{
  text-align: left;
  color: white;
  
}
.colored{
  background-color:#B1E5F2 ;
}

/*footer*/
footer img{
  display: block;
}
footer div{
  color: white;
  background-size: cover;
  width: 392px;
  height: 302px;
  margin-bottom: 10px;
  text-align: center;
  font-size:x-large
  
}
#pictureone{
  
  background-image: url("../img/monitor.jpg");
  margin-top: 20px;
  margin-bottom: 20px ;
  
}
#picturetwo{
  background-image: url("../img/graph.jpg");
}